{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}



{% block page_content %}
{% if not current_user.is_authenticated %}
    <h3 class="alert alert-info">你好,你还未登陆，请先登录后再使用!</h3>
{% endif %}
<div class="page-header">
<h1 align="center" >物资部订单系统--测试版</h1>
</div>




<div class="jumbotron">
   <div class="container">
      <h2 >使用说明：</h2>
 <div class="alert alert-success">
<ul >需要登录后才能正常使用</ul>

   </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
