{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%block scripts%}
{{super()}}
<script type="text/javascript"   src="/static/spangrid.js"></script>
{%endblock%}

{%block head%}
{{super()}}
<style>
body { overflow: auto; }
</style>
  <style>
     td {text-align:center}
	 
  </style>
  <style type="text/css">

.keepLine

{

word-break: keep-all;

}

</style> 
{%endblock%}

{% block page_content %}

<h1 class="text-center">合同相关</h1>
<HR style="border:3 double #987cb9" width="95%" color=#987cb9 SIZE=3>
<div>
	<h3>1.新增合同</h3>
    {{ wtf.quick_form(form,extra_classes="form-inline") }}
</div>
<HR style="border:3 double #987cb9" width="95%" color=#987cb9 SIZE=3>
<div>
<h3>2.现有</h3>
</br>


<div style="overflow:scroll; height:600pxpx; width: 1300px;">

<table id="tb" border="2" class="table table-hover">
	<tr class="warning">
<th colspan="6"  align="center" ><div align="center">合同信息</div></th>
<th colspan="8"  align="center" ><div align="center">合同设备信息</div></th>
<th style="vertical-align:middle">-</th>
</tr>
<tr class="active">


	<th style="vertical-align:middle"><div align="center">合同编号</div></th>
	<th style="vertical-align:middle"><div align="center" class="keepLine">物资部经办人</div></th>
	<th style="vertical-align:middle"><div align="center">合同签订日期</div></th>
	<th style="vertical-align:middle"><div align="center">原合同总额</div></th>
	<th style="vertical-align:middle"><div align="center" class="keepLine">合同计划日期</div></th>
	<th style="vertical-align:middle"><div align="center">操作</div></th>
	<th style="vertical-align:middle"><div align="center" class="keepLine">合同标的物名称</div></th>
	<th style="vertical-align:middle"><div align="center">型号</div></th>
	<th style="vertical-align:middle"><div align="center">供应单位</div></th>
	<th style="vertical-align:middle"><div align="center">原合同单价</div></th>
	<th style="vertical-align:middle"><div align="center">数量</div></th>
	<th style="vertical-align:middle"><div align="center">结算金额</div></th>
<!-- 	<th style="vertical-align:middle"><div align="center">备注</div></th> -->
	<th style="vertical-align:middle"><div align="center">设备分开</div></th>
	<th style="vertical-align:middle" class="keepLine"><div align="center">申购单设备</div></th>
	</tr>
	
	{% for contract in contracts%}
	
	<tr>


  <td style="vertical-align:middle" > <h3>{{ contract.Contract.contract_number}} </h3>
  </br>
  <a href="{{ url_for('.insert_contract_device', id=contract.Contract.id) }}" >   <span class="label label-success m-l-xs">1.添加合同设备</br></span> </a>(物资部)
  </td>
  <td style="vertical-align:middle" > {{ contract.Contract.material_operator}}</td>
  <td style="vertical-align:middle" class="keepLine"> {{ contract.Contract.contract_date}} </td>
  <td style="vertical-align:middle" > {{ contract.Contract.contract_value}} </td>
  <td style="vertical-align:middle" > {{ contract.Contract.planned_arrival_date}}</td>
	

{%if contract.Contract_Device.id %}

	<td style="vertical-align:middle" >
		<a href="{{ url_for('.insert_payment_situation', id=contract.Contract_Device.id) }}" >   <span class="label label-success m-l-xs">2.添加{{contract.Contract_Device.id}}付款计划</br></span> </a>(物资部)

链接地址</a>
  </a>
</td>   
  <td style="vertical-align:middle" >
		{{ contract.Contract_Device.contract_subject_matter}}</td>
	<td style="vertical-align:middle" >{{ contract.Contract_Device.model}}</td>
	<td style="vertical-align:middle" >{{ contract.Contract_Device.supplier}}</td>
	<td style="vertical-align:middle" >{{ contract.Contract_Device.unit_price}}</td>
	<td style="vertical-align:middle" >{{ contract.Contract_Device.device_quantity}}</td>
	<td style="vertical-align:middle" >{{ contract.Contract_Device.settlement_amount}}</td>
<!-- 	<td style="vertical-align:middle" >{{ contract.Contract_Device.remarks_contract_device}}</td> -->
	<td style="vertical-align:middle" ><span class="clear"> 
<span class="name">
		{%if contract.Contract_Device_Number %}
		第{{contract.Contract_Device_Number.serial_number}}台设备</span> 
</br>
		<a href="{{ url_for('.bind_device', bind_id=contract.Contract_Device_Number.id) }}">  <span class="label label-success m-l-xs">3.物资部绑定申购设备</span></br>
		<a href=# onClick="javascript:window.open('{{ url_for('.bind_device', bind_id=contract.Contract_Device_Number.id) }}','','width=632,height=388,toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes');return false;","_blank"><span class="label label-success m-l-xs">3.物资部绑定申购设备</span></br>
		<a href="{{ url_for('.insert_payment', id=contract.Contract_Device_Number.id) }}" >   <span class="label label-success m-l-xs">4.财务部添加实际付款</span></br> </a>
		<a href="{{ url_for('.insert_device_invoice', id=contract.Contract_Device_Number.id) }}" >   <span class="label label-success m-l-xs">5.财务部添加发票信息</span></br> </a>
		<a href="{{ url_for('.insert_device_solid', id=contract.Contract_Device_Number.id) }}" >   <span class="label label-success m-l-xs">6.设备部添加验收信息</span> </a>
			<td style="vertical-align:middle" >{{ contract.Purchase.purchase_id}}--{{ contract.Device.device_name}}</td>
		{%endif%}
	</td>
		{%else%}
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>
		<td style="vertical-align:middle" ></td>

	{% endif %}
	{% endfor %} 	
	</table>
</div>
	<div class="pagination">
{{ macros.pagination_widget(pagination, '.insert_contract') }}
</div>
  {% endblock %}
