{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%block scripts%}
{{super()}}
{%endblock%}

{%block head%}
{{super()}}
<style>
body { overflow: auto; }
</style>
  <style>
     td {text-align:center;
	  padding:0px}
  </style>
  <style type="text/css">
.keepLine
{
word-break: keep-all;
}
</style>
{%endblock%}

{% block page_content %}

<h1 class="text-center">“{{current_user.company_name}}”<a color="red">已完成的订单</a></h1>
<HR style="border:3 double #987cb9" width="95%" color=#987cb9 SIZE=3>


<table id="tb" border="2" class="table table-hover">
	<tr class="warning">
	<!-- <th align="center" ><div align="center">已接收</div></th>-->
<th align="center" ><div align="center">订单日期</div></th>
<!-- <th  align="center" ><div align="center">供应商</div></th> -->
<!-- <th  align="center" ><div align="center">上游单据号</div></th> -->
<th  align="center" ><div align="center">订单号</div></th>
<th  align="center" ><div align="center">存货编码</div></th>
<th  align="center" ><div align="center">存货名称</div></th>
<th  align="center" ><div align="center">规格型号</div></th>
<th  align="center" ><div align="center">主计量</div></th>
<th  align="center" ><div align="center">数量</div></th>
<th  align="center" ><div align="center">含税单价</div></th>
<th  align="center" ><div align="center">预计送货日期</div></th>

<th  align="center" ><div align="center">备注</div></th>
<th  align="center" ><div align="center">入库日期</div></th>
</tr>
{% for d in data%}
	<tr class="active">
<!-- 	<td><input type="checkbox" name="received"  id="receive{{d.id}}"  value="" {%if d.received%}checked="True"{%endif%}></td> -->
		<td>{{d.date}}</td>
<!-- 		<td>{{d.supplier}}</td> -->
<!-- 		<td>{{d.up_code}}</td> -->
		<td>{{d.order_code}}</td>
		<td>{{d.stock_code}}</td>
		<td>{{d.material_name}}</td>
		<td>{{d.model}}</td>
		<td>{{d.unit}}</td>
		<td>{{d.number}}</td>
		<td>{{d.price}}</td>
		<td>{%if d.deliver_date%}{{d.deliver_date}}{%endif%}</td>
		<td>{%if d.remarks%}{{d.remarks}}{%endif%}</td>
		<td>{%if d.arrival_date%}{{d.arrival_date}}{%endif%}</td>

	</tr>
{%endfor%}
	</table>
</div>
	<div class="pagination">
{{ macros.pagination_widget(pagination, '.view') }}
</div>
  {% endblock %}
